/* Diseños login and register */
input[type="text"], input[type="password"]{
    outline: none;
    padding: 20px;
    display: block;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #0a1a2a;
    margin: 20px auto;
  }
  
  input[type="submit"]{
    padding: 10px;
    color: #efefef;
    background: #2f3640;
    width: 320px;
    margin-top: 0;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
  }